ANTHROPIC_API_KEY=sk-ant-...
APP_NAME=hallucinationsearch
BASE_URL=http://localhost:8080
CSP_ALLOW_UNSAFE_EVAL=true
CSP_ALLOW_UNSAFE_INLINE=true
DATABASE_PATH=app.db
GOOGLE_API_KEY=AIza...
IMAGES_PATH=images
JOB_QUEUE_TIMEOUT=3m
LOG_JSON=false
LOG_LEVEL=debug
LOG_NO_TIME=true
OTEL_EXPORTER_OTLP_HEADERS=x-honeycomb-team=123
SECURE_COOKIE=false
SERVER_ADDRESS=:8080
